

@import '../../index.css';

.btn{
    padding: 1.5em;
    border-radius: 8px;
    letter-spacing: 0.1em;
    text-align: center;
}

.Outlined{
    border: 1px solid var(--generalColor);
    color: var(--generalColor);
}

.Filled{
    background-color: var(--generalColor);
    color: white;
}

.dsp{
    opacity: 0.5;
    pointer-events: none;
}
