:root {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
    text-size-adjust: 100%;
    --generalColor: #0450b4;
}

body{
    position: relative;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

input[type=text] {
    all: unset;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
}

.container{
    width: 100%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.radius{
    border-radius: 8px;
}
